.todo-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 1%;
}

.taskfalse {
  font-size: 1.2rem;
  margin: 1%;
  color: slategray;
}

.taskfalse span {
  cursor: pointer;
}

.tasktrue {
  font-size: 1.2rem;
  margin: 1%;
  color: red;
  text-decoration: line-through;
  cursor: pointer;
}

.tasktrue span {
  cursor: pointer;
}

.todo-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: .5%;
}

.todo-form h4 {
  color: coral;
  text-align: center;
  margin: 0;
  font-size: 1.4rem;
}

.todo-form form {
  width: 80%;
  margin: 0 auto;
}

.todo-form form input {
  width: 100%;
  font-size: .8rem;
}

.buttons button {
  width: 45%;
  margin: 2.5%;
  font-size: .8rem;
  background: coral;
  color: white;
  border-radius: 10px;
}

.buttons button:hover {
  background: white;
  color: coral;
  cursor: pointer;
}